<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345818638915-mka90uufmp53rk3fknkggni10ucalq7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345818638915-mka90uufmp53rk3fknkggni10ucalq7c</string>
	<key>API_KEY</key>
	<string>AIzaSyAFYqguHD-ihmxgLP3lWPMdZ4pqGugDMps</string>
	<key>GCM_SENDER_ID</key>
	<string>345818638915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hieunguyen.EngWord</string>
	<key>PROJECT_ID</key>
	<string>engligh-word</string>
	<key>STORAGE_BUCKET</key>
	<string>engligh-word.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345818638915:ios:e3b61a9d6b180dd78202f6</string>
</dict>
</plist>